/* Font */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&display=swap');

/* Variables */
:root {
    --white: #FFFFFF;
    --gray: #686868; 
    --yellow:#f8dc6a;
    --green: #016d38;
    --black: #2b2b2b;
    --fw300: 300;
    --fw400: 400;
    --fw700: 700;
    --h1: 2rem;
    --text: 1.2rem;
}
/* Variables */
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-size-adjust:  100%;
    
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 0rem;
    border-bottom:1px solid var(--gray);
}

.slider {
    background-color: var(--green);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text--box span {
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--fw300);
    font-size: var(--h1);
    line-height: 1.2;
}

.text--box p {
    color: var(--white);
    text-transform: uppercase;
    font-size: calc(var(--h1) + 1rem);
    font-weight: var(--fw700);
    line-height: 1.2;
}

.content--box {

}

.content--box h2 {
    color: var(--green);
    font-weight: var(--fw700);
    font-size: 2.5rem;
    text-align: center;
    padding: 3rem;
}

.content--box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    margin: 0 auto;
    max-width: 50%;
    color: var(--gray);
    line-height: 1.5;
    font-weight: var(--fw300);
    font-size: 1.5rem;
    text-align: center;
}

.cards-deck {
    padding: 3rem;
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    border: 1px solid #a3a3a3;
    border-radius: .2rem;
}

.card img {
    border-radius: .1rem .1rem 0rem 0rem;
}

.card-title h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
    font-weight: var(--fw300);
}

.cards-button {
    margin: 0 auto;
    border: 1px solid var(--green);
    padding: .8rem 3rem;
    border-radius: 30px;
    background-color: var(--green);
}

.cards-button a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: var(--fw700);
    font-style: normal;
}

.promo--banner {
    margin: 5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--yellow);
}

.banner--image {
    padding: 3rem;
}

.banner--info {
    padding: 3rem;
}

.banner--info h3 {
    color: var(--black);
    font-weight: var(--fw700);
    font-size: var(--h1);
    padding: 1rem 0rem;
}

.banner--info p {
    color: var(--black);
    padding: .5rem 0rem;
}


.footer {
    padding: 50rem;
}